@{
}
<link rel="stylesheet" href="~/css/donate.css" />

<h1>Donate</h1> 

<h2>Ajude a gente pagar nosso servidor e nosso banco de dados 😔</h2> 

<img src="~/img/donate/banco_de_dados.jpg"/>  <img src="~/img/donate/servidor.jpg"/>