@using miguelito_bot_site
@model miguelito_bot_site.Views.Home.IndexModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/index.css" />

<div align="center" class="banner" ></div>
<div>
    
    <div >

        <div class="card ">
            <h1>●Em @Program.Discord.Guilds.Count servidores.</h1>   
            <h1>●Usado por @{int member = 0;
                    foreach (var item in miguelito_bot_site.Program.Discord.Guilds)
                    {
                        member += item.Value.MemberCount;
                    } ViewBag.Member = member;
                } @ViewBag.Member Membros.</h1>
            <h1>●Cerca de @miguelito_bot_site.Utils.Database.CommandsCount() Comandos usados.</h1>
        </div>
        
        <div class="add-bot">
             <a href="https://discord.com/api/oauth2/authorize?client_id=949488330620432386&permissions=1241186200694&scope=bot%20applications.commands"><img src="https://miguelito.miguelsoft.com.br/wp-content/uploads/2022/03/botao.png" /></a>
        </div>
        
    </div>
    

</div>