.server {
    margin: 5px;
    width: 70px;
    border-radius: 50%;
    border: solid 3px transparent;
    transition: 1s;
}

.server:hover {
    border-color: #fff;
}

.barinha {
    height: 1px;
    width: 84%;
    background-color: rgb(54, 54, 54);
    margin: 5px 8%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}