@model guild
<style>
 *{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    }
    img {
    width: 70px;
    border-radius: 50%;
    margin: 5px;
    }
    .bar{
        margin-top: -17px;
        padding: 10px;
    }
</style>
    
 <div class="col-md-1 bg-dark bar" id="sidebar">
   
    @{
        foreach(var guild in @Model.guilds)
        {
            string img = guild.IconUrl;
            if(string.IsNullOrEmpty(img)){
                img = "/img/Miguelito.png"; 
            }
           <a href="Eu sou Corno"><img src="@img" alt""/></a> 
        }

   }


        </div>
<div class="container">
    <div class="row" id="row-main">
       
        <div class="col-md-9" id="content">
            ...
        </div>
    </div>
</div>
